/*
    common styles
*/

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(360deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

.spin {
    animation: spin 3.5s linear 0s infinite normal;
    -moz-animation: 3.5s linear 0s normal none infinite spin;
    -webkit-animation: spin 3.5s linear 0s infinite normal;
    -o-animation: spin 3.5s linear 0s infinite normal;
}

/*
    Upload styles
*/
.modal-dialog {
    width: 960px;

    img {
        width: 100%;
    }
}

/**
    JCROP
**/
.jcrop-keymgr {
    opacity: 0;
}

.jcrop-holder {
    margin: 0 auto;
}

.preview {
    width: 200px;
}

.gallery_container {
    .preview {
        width: 300px;
    }
}

.hidden_form {
    display: none;
}

.juice_upload {
    padding-top: 20px;
    height: auto !important;
    min-width: 34px;

    label {
        display: none;
    }

    .juice_upload_controls {
        margin: 0 0 20px 10px;

        .juice_upload_button_container {
            width: 150px;
            float: left;
        }

        .juice_upload_progress_container {
            float: left;
            margin: 5px 0 0 0;

            > div {
                float: left;
            }

            span {
                float: left;
                display: none;
                transition-duration: 0.8s;
                transition-property: transform;
                transform: rotate(360deg);
            }
        }

    }

    .form-control {
        height: auto;
        min-height: 34px;
    }

    .button {
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .juice_upload_item {
        float: left;
        margin: 0 10px;
        position: relative;

        .juice_upload_single_file {
            padding-right: 40px;
            position: relative;

            .remove {
                position: absolute;
                right: 10px;
                top: 15px;
            }
        }

        .preview {
            position: relative;
            overflow: hidden;
        }

        .edit_layer {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;

            background-color: #000000;
            display: none;
            width: 100%;
            height: 100%;
            padding: 0 20px 50px 0;
            position: absolute;
            top: -10px;
            left: -10px;

            .buttons {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 280px;

                .button {
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    cursor: pointer;
                    opacity: 0.5;
                    text-align: center;
                    float: left;
                    margin-right: 10px;

                    span {
                        font-size: 15px;
                        line-height: 20px;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        img {
            width: 100%;
        }

        .hidden_form {
            display: none;
        }

        &:hover {
            .preview {
                z-index: 20;
            }
            .edit_layer {
                z-index: 10;
                display: block;
            }
        }
    }
}